In [7]:
#Tuples

In [2]:
my_list = [ 1, 3, 5 ]
print (len(my_list))
my_list.append(9)
print(my_list)

3
[1, 3, 5, 9]

In [3]:
8 in my_list

False

In [4]:
'3' in my_list

False

In [5]:
# new_list = [1,2,3] + ['1','2','3' ]
new_list = [1,2,3] + [7,6,5,5,5,5,5 ]
print (new_list)
new_list.pop()
print (new_list)
new_list.sort(reverse=True)
print (new_list)
for number in new_list:
    print(f'number {number} repeats {new_list.count(number)} times')

[1, 2, 3, 7, 6, 5, 5, 5, 5, 5]
[1, 2, 3, 7, 6, 5, 5, 5, 5]
[7, 6, 5, 5, 5, 5, 3, 2, 1]
number 7 repeats 1 times
number 6 repeats 1 times
number 5 repeats 4 times
number 5 repeats 4 times
number 5 repeats 4 times
number 5 repeats 4 times
number 3 repeats 1 times
number 2 repeats 1 times
number 1 repeats 1 times

In [6]:
tuple1 = (1,2,3)
tuple2 = (11,5,6,8)
new_tuple = tuple1 + tuple2
print (new_tuple)
list_1 = list(tuple1)
print (list_1)
list_1.pop()
print (list_1)
for number in new_tuple:
    print(f'number {number} repeats {new_tuple.count(number)} times')
print (f'max value in tuple {max(new_tuple) }')
tmp_list = list (new_tuple)
tmp_list.sort(reverse=True)
print (tmp_list)
print (f'max value in tuple {tmp_list[0] }')

(1, 2, 3, 11, 5, 6, 8)
[1, 2, 3]
[1, 2]
number 1 repeats 1 times
number 2 repeats 1 times
number 3 repeats 1 times
number 11 repeats 1 times
number 5 repeats 1 times
number 6 repeats 1 times
number 8 repeats 1 times
max value in tuple 11
[11, 8, 6, 5, 3, 2, 1]
max value in tuple 11

In [8]:
#For loops

In [9]:
for number in range(1,11):
    print (number)

1
2
3
4
5
6
7
8
9
10

In [10]:
my_sum = 0
for number in range(1,51):
    my_sum += number
    # print( my_sum)
print (my_sum)

1275

In [14]:
user_input = input('Enter a number:')
user_number = int(user_input)
for i in range(1,11):
    print (f'number {user_number} multiplied by {i} is equal to {user_number * i}')

number 1 multiplied by 1 is equal to 1
number 1 multiplied by 2 is equal to 2
number 1 multiplied by 3 is equal to 3
number 1 multiplied by 4 is equal to 4
number 1 multiplied by 5 is equal to 5
number 1 multiplied by 6 is equal to 6
number 1 multiplied by 7 is equal to 7
number 1 multiplied by 8 is equal to 8
number 1 multiplied by 9 is equal to 9
number 1 multiplied by 10 is equal to 10

In [ ]:
# If statements

In [15]:
if 5 > 1:
    print ('That is true')

print ('end of script')

That is true
end of script

In [16]:
number = 5
if number > 10:
    print ('number is more than ten')
else:
    print ('number is less or equal 10')

print ('end of script')

number is less or equal 10
end of script

In [17]:
name = 'Tomas'
year = 200

if name == 'Linas':
    print ('Hi Linas')
elif year > 2000:
    print ('year is greater than 2000')
elif name == 'Darius' and year > 2000:
    print ('Hi Darius') # will never execute this
else:
    print ('Hi unknown person')
print ('end of script')

Hi unknown person
end of script

In [18]:
name = 'Darius'
year = 2005
if name == 'Linas':
    print ('Hi Linas')
elif year > 2000:
    print ('year is greater than 2000')
    if name == 'Darius':
        print ('Hi Darius') # will be executed if name is Darius 
else:
    print ('Hi unknown person')
print ('end of script')

year is greater than 2000
Hi Darius
end of script

In [19]:
name = 'Darius'
year = 2005

if name == 'Linas':
    print ('Hi Linas')
if year > 2000:
    print ('year is greater than 2000')
if name == 'Darius' and year > 2000:
    print ('Hi Darius') # will never execute this
# else:
#     print ('Hi unknown person')
print ('end of script')

year is greater than 2000
Hi Darius
end of script

In [27]:
for number in range (0,31):
    if number % 7 == 0:
         print (number)

0
7
14
21
28

In [20]:
my_list = list(range(110,213,4))
print (my_list)

for idx in range(0,len(my_list)):
    if idx % 7 == 0:
        print (my_list[idx])

[110, 114, 118, 122, 126, 130, 134, 138, 142, 146, 150, 154, 158, 162, 166, 170, 174, 178, 182, 186, 190, 194, 198, 202, 206, 210]
110
138
166
194

In [21]:
my_sum = 0

for number in range(1,51):
    if (my_sum + number) % 2 == 0:
        my_sum += number
        print (my_sum)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

In [28]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

available_days = [ 'Monday', 'Wednesday']
available_hours = [12, 13, 14, 15, 16, 17]

combinations = []
for day in days:
    if day in available_days:
        print(day)
        for hour in hours:
            if hour in available_hours:
                print (hour)
                combination = (day,hour)
                combinations.append( combination )
        print ('Checking next day')

print (combinations)

Monday
12
13
14
15
16
17
Checking next day
Wednesday
12
13
14
15
16
17
Checking next day
[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

In [33]:
my_list = []
my_list.append("some text")
my_list.append("new text")
print (my_list)

['some text', 'new text']

In [30]:
#List comprehension

In [31]:
my_list = [5,4,74,8]

mult_2 = [number*2  for number in my_list ]
print(mult_2)

[10, 8, 148, 16]

In [35]:
my_list = [5,4,74,7]

mult_2 = [number*2  for number in my_list if number % 2 == 0 ]
print(mult_2)

[8, 148]

In [34]:
my_list = [5,4,74,7]
# [RESULT for STH in ITERABLE]
mult_2 = [number for number in my_list if number % 2 == 0 ]
# mult_2 = [(number, number * 2) for number in my_list if number % 2 == 0 ]
print(mult_2)

[4, 74]

In [36]:
my_list = [5,4,74,7]
# [RESULT for STH in ITERABLE]
even = []
for number in my_list:
    if number % 2 == 0:
        even.append(number)
        # even.append((number, number * 2))
print (even)

[4, 74]

In [37]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

valid_days = [ 'Monday', 'Wednesday']
valid_hours = [12, 13, 14, 15, 16, 17]

combinations = [ (day, hour) for day in days for hour in hours if day in valid_days and hour in valid_hours ]
print(combinations)

[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

In [38]:
my_list = [5,4,74,7]
# [RESULT for STH in ITERABLE]
mult = [number*2 if number % 2 == 0 else number*3 for number in my_list ]
print(mult)

[15, 8, 148, 21]

In [39]:
my_list = [5,4,74,7, 4598, 4163 ,4984 ,784 ,345 ,46968, 36999]
even =  [1 for number in my_list if number % 2 == 0 ]
print(even)
count_even = sum(even)
print(count_even)

[1, 1, 1, 1, 1, 1]
6

In [40]:
#Dictionary

In [56]:
my_dictionary = {
    'name': 'Darius',
    'year': 2008,
    False: 'false',
    5: 'five',
    'hobbies': ['tennis', 'football']
}

In [57]:
my_dictionary['hobbies']

['tennis', 'football']

In [58]:
print (my_dictionary[5] )

five

In [59]:
my_dictionary['city'] = 'Vilnius'
print (my_dictionary)
my_dictionary['city'] = 'Kaunas'
print (my_dictionary)

{'name': 'Darius', 'year': 2008, False: 'false', 5: 'five', 'hobbies': ['tennis', 'football'], 'city': 'Vilnius'}
{'name': 'Darius', 'year': 2008, False: 'false', 5: 'five', 'hobbies': ['tennis', 'football'], 'city': 'Kaunas'}

In [60]:
print (len(my_dictionary))

6

In [47]:
#my_dictionary.clear() # deletes all pairs
print (my_dictionary)
print (type( my_dictionary) )

{}
<class 'dict'>

In [61]:
my_dictionary.copy() # mutable

{'name': 'Darius',
 'year': 2008,
 False: 'false',
 5: 'five',
 'hobbies': ['tennis', 'football'],
 'city': 'Kaunas'}

In [62]:
tmp_dict = dict.fromkeys(['sum','mult_sum', 'div_sum'], 0)
print (tmp_dict)
# creates a new dictionary

{'sum': 0, 'mult_sum': 0, 'div_sum': 0}

In [63]:
print (my_dictionary.get('city') )
print (my_dictionary['city'] )

Kaunas
Kaunas

In [64]:
# my_dictionary['address'] # gives an error
print (my_dictionary.get('address', False) )
if my_dictionary.get('address', False) == False:
    print ("Dictionary does not contain 'address' info")

False
Dictionary does not contain 'address' info

In [65]:
print (my_dictionary.pop(False) ) # gives an error on 2nd run

false

In [66]:
my_dictionary.popitem() # gives back pair tuple

('city', 'Kaunas')

In [71]:
print (my_dictionary.setdefault('city', 'Palanga'))
print (my_dictionary.setdefault('City', 'Palanga'))
print (my_dictionary)

Vilnius
Palanga
{'name': 'Darius', 'year': 2008, 5: 'five', 'hobbies': ['tennis', 'football'], 'city': 'Vilnius', 'City': 'Palanga', 'key': 'value of key', 'sum': 10}

In [72]:
new_dict = {
    'key': 'value of key',
    'sum': 10,
    'city': 'Vilnius'
}

my_dictionary.update(new_dict)
print (my_dictionary)

{'name': 'Darius', 'year': 2008, 5: 'five', 'hobbies': ['tennis', 'football'], 'city': 'Vilnius', 'City': 'Palanga', 'key': 'value of key', 'sum': 10}

In [73]:
for key, value in my_dictionary.items(): # k, v
    print (f'key {key} has a value of {value}')

key name has a value of Darius
key year has a value of 2008
key 5 has a value of five
key hobbies has a value of ['tennis', 'football']
key city has a value of Vilnius
key City has a value of Palanga
key key has a value of value of key
key sum has a value of 10