In [ ]:
# 1. for a given string, change all occurences of its first character to '&', except the first character itself
my_string = 'exercise'
result =my_string[0]+my_string[1:].replace(my_string[0],'&')
print(result)

In [ ]:
# 2. Find all occurences of a substring in a given text by ignoring letter case.
text = 'We few, we happy few, we band of brothers'
substring = 'We'
print(text.lower())
print(substring.lower())
text.lower().count(substring.lower())

In [ ]:
#3 find the last position (index) of a given substring
text = "I felt happy because I saw the others were happy and because I knew I should feel happy, but I wasn't really happy."
substring = 'happy'
text.rfind(substring)

In [ ]:
my_int = 6
my_float = 6.
print (type(my_int))
print (type(my_float))

In [ ]:
3+9

In [ ]:
3+3.

In [ ]:
print(3-9)
print(3*9)
print(3/9)
print(3/3)
print(3**9)
print(3**2)
print (9//2)

In [ ]:
4%5

In [ ]:
6%5

In [ ]:
1465526 % 2
# 0 means that the number is even, 1 means that it is not even
print ('even',1465526 % 2)
print ('uneven',1465527 % 2)

In [ ]:
5.5 % 2

In [ ]:
my_int_1 = 13
my_int_2 = 3
print (f'sum:{my_int_1 + my_int_2}')
print (f'substract:{my_int_1 - my_int_2}')
print (f'multiply:{my_int_1 * my_int_2}')
print (f'power of :{my_int_1 ** my_int_2}')
print (f'devide:{my_int_1 / my_int_2}')
print (f'modulus:{my_int_1 % my_int_2}')

In [ ]:
my_float_1 = 13.4198497
my_float_2 = 3.14
print (f'sum:{my_float_1  + my_float_2}')
print (f'substract:{my_float_1 - my_float_2}')
print (f'multiply:{my_float_1  * my_float_2}')
print (f'power of :{my_float_1  ** my_float_2}')
print (f'devide:{my_float_1  / my_float_2}')
print (f'modulus:{my_float_1  % my_float_2}')

In [ ]:
dist_moon = 384000
dist_sun = 150000000
dist_sun / dist_moon

In [ ]:
speed = 150
print (f'seconds to the moon {dist_moon/speed*3600}')
print (f'hours to the moon {dist_moon/speed}')
print (f'days to the moon {dist_moon/speed/24}')
print (f'months to the moon {dist_moon/speed/24/30}')
print (f'years to the moon {dist_moon/speed/24/30/12}')

In [ ]:
import datetime
print(datetime.datetime.now())
my_birthday = datetime.date (1994,10,14)
datetime.datetime.now().date() - my_birthday

delta = datetime.timedelta(seconds = dist_moon/speed*3600)
print(f' We would reach the moon on {datetime.datetime.now() + delta}')

In [ ]:
my_bool = 1 > 2
print (my_bool)
print (type(my_bool))

In [ ]:

my_bool_2 = True
my_bool_3 = False
#true and false must begin with capital letter

print (my_int)
is_even = my_int % 2 == 0 
print (f'my_int is even {is_even}')

In [ ]:
## Comparison operators

print (f'equal to operator ==: {1 == 1}')
print (f'equal to operator ==: {1 == 10}')
print (f'not equal to operator !=: {1 != 1}')
print (f'not equal to operator !=: {1 != 10}')

print (f'more to operator >: {15 > 10}')
print (f'more to operator >=: {10 >= 10}')
print (f'more to operator <: {1 < 10}')
print (f'more to operator <=: {10 <= 10}')

In [ ]:
# true and true
10> 2 and 2 < 5

In [ ]:
# true and false (nei jei vienas false, tada visas false)
10 > 2 and 10 < 5

In [ ]:
# true or true (ar bent viena puse true)
10 > 2 or 10 < 5

In [ ]:
# false and false
10 > 2 and 10 < 5

In [ ]:
True and 10 > 5 and 10 % 2 == 0 or False
# <-- True ---> and <--- True --> or
# <-- True --------------True --> or

In [ ]:
True and 10 > 5 and 11 % 2 == 0 or False
# <-- True ---> and <--- False ---> or
# <---------------False ----------> or False

In [ ]:
print (bool ('Some text'))
print (bool (''))
print (bool (' '))

In [ ]:
print (bool ('5'))
print (bool (0))
print (bool ('1'))
print (bool ('-1'))

In [ ]:
print (bool ('5.0'))
print (bool (0.0))
# it becomes false when it's = to 0, but not 0.0
print (bool ('1.0'))
print (bool ('-1.0'))
print (bool ('-555774.0'))
print (bool ('0.5'))

In [ ]:
not 5 > 2

In [ ]:
not_even =  not 10 % 2 == 0
print (not_even)
not_even_2 = 10 % 2 != 0
print (not_even_2)

In [ ]:
sum = 0
sum = sum + 5
sum = sum + 10
sum = sum - 3
print (sum)

In [ ]:
sum = 0
sum += 5
sum += 10
sum -= 3
print (sum)

In [ ]:
multiply = 1
multiply *= 10
multiply *= 10
multiply *= 10
print (multiply)

In [ ]:
# membership operator
text = 'Hello world'
print ('world' in text)
print ('World' in text)
print ('world ' in text)
print ('Darius' not in text)

In [ ]:
#List
my_list = [1, 5, 10, 15]

In [ ]:
print ('lengh: ', len (my_list))
print ('1st', my_list[0])
print('slice: ', my_list[2:])

In [ ]:
my_list_2 = [10, 1, 1, 2, 2, 'Darius', 'Vilnius',True, 1 > 10]
print(my_list_2)

In [ ]:
my_list_3 = [1, 5, 1, 14984, 10, 15, 54]
print (my_list_3)
# print ?(my_list_3.sort()) # retursn NONE, 
my_list_3.sort()
print (my_list_3)
my_list_3.sort(reverse =True)
print(my_list_3)

In [ ]:
my_list_4 = [1, 5, 1,  ['New list inside', 'Vilnius'], 14984, 10, 15, 54]
print (my_list_4)