In [ ]:
# 1. for a given string, change all occurences of its first character to '&', except the first character itself
my_string = 'exercise'
result =my_string[0]+my_string[1:].replace(my_string[0],'&')
print(result)

In [ ]:
# 2. Find all occurences of a substring in a given text by ignoring letter case.
text = 'We few, we happy few, we band of brothers'
substring = 'We'
print(text.lower())
print(substring.lower())
text.lower().count(substring.lower())

In [ ]:
#3 find the last position (index) of a given substring
text = "I felt happy because I saw the others were happy and because I knew I should feel happy, but I wasn't really happy."
substring = 'happy'
text.rfind(substring)

In [ ]:
my_int = 6
my_float = 6.
print (type(my_int))
print (type(my_float))

In [ ]:
3+9

In [ ]:
3+3.

In [ ]:
print(3-9)
print(3*9)
print(3/9)
print(3/3)
print(3**9)
print(3**2)
print (9//2)

In [ ]:
4%5

In [ ]:
6%5

In [ ]:
1465526 % 2
# 0 means that the number is even, 1 means that it is not even
print ('even',1465526 % 2)
print ('uneven',1465527 % 2)

In [ ]:
5.5 % 2

In [ ]:
my_int_1 = 13
my_int_2 = 3
print (f'sum:{my_int_1 + my_int_2}')
print (f'substract:{my_int_1 - my_int_2}')
print (f'multiply:{my_int_1 * my_int_2}')
print (f'power of :{my_int_1 ** my_int_2}')
print (f'devide:{my_int_1 / my_int_2}')
print (f'modulus:{my_int_1 % my_int_2}')

In [ ]:
my_float_1 = 13.4198497
my_float_2 = 3.14
print (f'sum:{my_float_1  + my_float_2}')
print (f'substract:{my_float_1 - my_float_2}')
print (f'multiply:{my_float_1  * my_float_2}')
print (f'power of :{my_float_1  ** my_float_2}')
print (f'devide:{my_float_1  / my_float_2}')
print (f'modulus:{my_float_1  % my_float_2}')

In [ ]:
dist_moon = 384000
dist_sun = 150000000
dist_sun / dist_moon

In [ ]:
speed = 150
print (f'seconds to the moon {dist_moon/speed*3600}')
print (f'hours to the moon {dist_moon/speed}')
print (f'days to the moon {dist_moon/speed/24}')
print (f'months to the moon {dist_moon/speed/24/30}')
print (f'years to the moon {dist_moon/speed/24/30/12}')

In [ ]:
import datetime
print(datetime.datetime.now())
my_birthday = datetime.date (1994,10,14)
datetime.datetime.now().date() - my_birthday

delta = datetime.timedelta(seconds = dist_moon/speed*3600)
print(f' We would reach the moon on {datetime.datetime.now() + delta}')

In [ ]:
my_bool = 1 > 2
print (my_bool)
print (type(my_bool))

In [ ]:

my_bool_2 = True
my_bool_3 = False
#true and false must begin with capital letter

print (my_int)
is_even = my_int % 2 == 0 
print (f'my_int is even {is_even}')

In [ ]:
## Comparison operators

print (f'equal to operator ==: {1 == 1}')
print (f'equal to operator ==: {1 == 10}')
print (f'not equal to operator !=: {1 != 1}')
print (f'not equal to operator !=: {1 != 10}')

print (f'more to operator >: {15 > 10}')
print (f'more to operator >=: {10 >= 10}')
print (f'more to operator <: {1 < 10}')
print (f'more to operator <=: {10 <= 10}')

In [ ]:
# true and true
10> 2 and 2 < 5

In [ ]:
# true and false (nei jei vienas false, tada visas false)
10 > 2 and 10 < 5

In [ ]:
# true or true (ar bent viena puse true)
10 > 2 or 10 < 5

In [ ]:
# false and false
10 > 2 and 10 < 5

In [ ]:
True and 10 > 5 and 10 % 2 == 0 or False
# <-- True ---> and <--- True --> or
# <-- True --------------True --> or

In [ ]:
True and 10 > 5 and 11 % 2 == 0 or False
# <-- True ---> and <--- False ---> or
# <---------------False ----------> or False

In [ ]:
print (bool ('Some text'))
print (bool (''))
print (bool (' '))

In [ ]:
print (bool ('5'))
print (bool (0))
print (bool ('1'))
print (bool ('-1'))

In [ ]:
print (bool ('5.0'))
print (bool (0.0))
# it becomes false when it's = to 0, but not 0.0
print (bool ('1.0'))
print (bool ('-1.0'))
print (bool ('-555774.0'))
print (bool ('0.5'))

In [ ]:
not 5 > 2

In [ ]:
not_even =  not 10 % 2 == 0
print (not_even)
not_even_2 = 10 % 2 != 0
print (not_even_2)

In [ ]:
sum = 0
sum = sum + 5
sum = sum + 10
sum = sum - 3
print (sum)

In [ ]:
sum = 0
sum += 5
sum += 10
sum -= 3
print (sum)

In [ ]:
multiply = 1
multiply *= 10
multiply *= 10
multiply *= 10
print (multiply)

In [ ]:
# membership operator
text = 'Hello world'
print ('world' in text)
print ('World' in text)
print ('world ' in text)
print ('Darius' not in text)

In [ ]:
#List
my_list = [1, 5, 10, 15]

In [ ]:
print ('lengh: ', len (my_list))
print ('1st', my_list[0])
print('slice: ', my_list[2:])

In [ ]:
my_list_2 = [10, 1, 1, 2, 2, 'Darius', 'Vilnius',True, 1 > 10]
print(my_list_2)

In [ ]:
my_list_3 = [1, 5, 1, 14984, 10, 15, 54]
print (my_list_3)
# print ?(my_list_3.sort()) # retursn NONE, 
my_list_3.sort()
print (my_list_3)
my_list_3.sort(reverse =True)
print(my_list_3)

In [8]:
my_list_4 = [1, 5, 1,  ['New list inside', 'Vilnius'], 14984, 10, 15, 54]
print (my_list_4)

[1, 5, 1, ['New list inside', 'Vilnius'], 14984, 10, 15, 54]

In [9]:
print (my_list_4)
my_list_4[1] = 100
print (my_list_4)

[1, 5, 1, ['New list inside', 'Vilnius'], 14984, 10, 15, 54]
[1, 100, 1, ['New list inside', 'Vilnius'], 14984, 10, 15, 54]

In [10]:
my_list_4[3][0]='HAHA'
print(my_list_4)

[1, 100, 1, ['HAHA', 'Vilnius'], 14984, 10, 15, 54]

In [12]:
([1,2,3,] + ['a','b','c'])*10

[1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c']

In [54]:
my_list = [1,2,3]
my_list.append(5)
my_list.append('a')
my_list.append([10,100,1000])
print (my_list)

[1, 2, 3, 5, 'a', [10, 100, 1000]]

In [55]:
my_list.extend('abs')
my_list.extend('[156]')
print(my_list)

[1, 2, 3, 5, 'a', [10, 100, 1000], 'a', 'b', 's', '[', '1', '5', '6', ']']

In [56]:
poped_value = my_list.pop()
print(poped_value)
print (my_list)
poped_value = my_list.pop()
print(poped_value)
print(my_list)

]
[1, 2, 3, 5, 'a', [10, 100, 1000], 'a', 'b', 's', '[', '1', '5', '6']
6
[1, 2, 3, 5, 'a', [10, 100, 1000], 'a', 'b', 's', '[', '1', '5']

In [57]:
print (my_list)
my_list.remove('a')
print(my_list)

[1, 2, 3, 5, 'a', [10, 100, 1000], 'a', 'b', 's', '[', '1', '5']
[1, 2, 3, 5, [10, 100, 1000], 'a', 'b', 's', '[', '1', '5']

In [62]:
print(my_list)
index_10 = my_list.index(2)
print(index_10)
print(my_list[index_10])

[1, 2, 3, 5, [10, 100, 1000], 'a', 'b', 's', '[', '1', '5']
1
2

In [63]:
# imutable

a=1
b=a
b+=1
print(a)
print(b)
print(id(a))
print(id(b))

1
2
4347805936
4347805968

In [66]:
# mutable

list_1 =[1,2,3]
list_2 = list_1
list_2.append(100)
print(list_1)
print(list_2)
print(id(list_1))
print(id(list_2))

[1, 2, 3, 100]
[1, 2, 3, 100]
4410811456
4410811456

In [67]:
# fixing mutability (solution 1)
list_1 =[1,2,3]
list_2 = list_1.copy()
list_2.append(100)
print(list_1)
print(list_2)
print(id(list_1))
print(id(list_2))

[1, 2, 3]
[1, 2, 3, 100]
4411094720
4399034880

In [ ]:
# Fixing mutability (Solution 2)
import copy
list_1 = [1,2,[1,0,100] ]
list_2 = copy.deepcopy(list_1) 
list_2.append(100)
list_2[2].append(100)
list_2[2].append('inside')
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )
print( id(list_1[2]) )
print( id(list_2[2]) )

[1, 2, [1, 0, 100]]
[1, 2, [1, 0, 100, 100, 'inside'], 100]
4399032192
4399032960
4399032448
4399032704

In [69]:
print (my_list)
print('b' in my_list)
print(153 in my_list)

[1, 2, 3, 5, [10, 100, 1000], 'a', 'b', 's', '[', '1', '5']
True
False

#Tuples

In [70]:
my_tuple = (1, 1, 'a', 'b', 'ab' )
print (my_tuple[:3] )
print (my_tuple[4])
print (f'lenght of the tuple: {len (my_tuple)}' )
print (f'count of 1 in tuple: {my_tuple.count(1)}' )
print (f"count of 'c' in tuple: {my_tuple.count('c')}" )
print (f"check if 'b' is in tuple: { 'b' in my_tuple}" )
print (f"check 'b' index in tuple: { my_tuple.index('b')}" )

# my_tuple[2] = 'c' # Error, can't do that

(1, 1, 'a')
ab
lenght of the tuple: 5
count of 1 in tuple: 2
count of 'c' in tuple: 0
check if 'b' is in tuple: True
check 'b' index in tuple: 3

In [71]:
tuple_1 = (1,2,3)
tuple_2 = (4,5,3)
tuple_3 = tuple_1 + tuple_2
print(tuple_3)

(1, 2, 3, 4, 5, 3)

In [72]:
tuple_1 = (1,2,3)
tuple_2 = (4,5,3)
tuple_3 = tuple_1 + tuple_2
tmp_list = list(tuple_3)
print (tmp_list)
tmp_list[3] = 10
tuple_3 = tuple(tmp_list)
print (tuple_3)

[1, 2, 3, 4, 5, 3]
(1, 2, 3, 10, 5, 3)

In [73]:
my_tuple_2 = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print (my_tuple_2[3][1][1] )
print (my_tuple_2[-1][-1][-1] )

8
8

In [74]:
tuple1 = (11, [222, 33], 44, 55)
print (tuple1)
tmp_list = list(tuple1)
print (tmp_list[1])
tmp_list[1][1] = 22
tuple1 = tuple(tuple1)
print (tuple1)

(11, [222, 33], 44, 55)
[222, 33]
(11, [222, 22], 44, 55)

In [75]:
tuple1 = (11, [222, 33], 44, 55)
print (tuple1)
tuple1[1][1] = 22
print (tuple1)

(11, [222, 33], 44, 55)
(11, [222, 22], 44, 55)

#Range

In [76]:
print (list(range(10) ) )
print (list(range(5, 10) ) )
print (list(range(5, 25, 2) ) )
# print (list(range(5, 25, 2) ) )
print (list(range(50, 25, -5) ) )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 7, 9, 11, 13, 15, 17, 19, 21, 23]
[50, 45, 40, 35, 30]

In [77]:
print (type( range(10) ) )
print (type( [1,5,3] ) )
print (type( (1,5,3) ) )
print (type( my_tuple ) )

<class 'range'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>

For Loop

In [78]:
cities = ['Vilnius', 'Kaunas', 'London']
for city in cities:
    print (f'City is called {city}')
print ("went through all cities")

City is called Vilnius
City is called Kaunas
City is called London
went through all cities

In [79]:
for i in range(5,50,5):
    print (f'index is {i}')

index is 5
index is 10
index is 15
index is 20
index is 25
index is 30
index is 35
index is 40
index is 45

In [80]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

combinations = []
for day in days:
    print(day)
    for hour in hours:
        print (hour)
        combination = (day,hour)
        combinations.append( combination )
    print ('Checking next day')

print (combinations)

Monday
10
11
12
13
14
15
16
17
18
19
Checking next day
Tuesday
10
11
12
13
14
15
16
17
18
19
Checking next day
Wednesday
10
11
12
13
14
15
16
17
18
19
Checking next day
Thursday
10
11
12
13
14
15
16
17
18
19
Checking next day
Friday
10
11
12
13
14
15
16
17
18
19
Checking next day
Saturday
10
11
12
13
14
15
16
17
18
19
Checking next day
Sunday
10
11
12
13
14
15
16
17
18
19
Checking next day
[('Monday', 10), ('Monday', 11), ('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Monday', 18), ('Monday', 19), ('Tuesday', 10), ('Tuesday', 11), ('Tuesday', 12), ('Tuesday', 13), ('Tuesday', 14), ('Tuesday', 15), ('Tuesday', 16), ('Tuesday', 17), ('Tuesday', 18), ('Tuesday', 19), ('Wednesday', 10), ('Wednesday', 11), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17), ('Wednesday', 18), ('Wednesday', 19), ('Thursday', 10), ('Thursday', 11), ('Thursday', 12), ('Thursday', 13), ('Thursday', 14), ('Thursday', 15), ('Thursday', 16), ('Thursday', 17), ('Thursday', 18), ('Thursday', 19), ('Friday', 10), ('Friday', 11), ('Friday', 12), ('Friday', 13), ('Friday', 14), ('Friday', 15), ('Friday', 16), ('Friday', 17), ('Friday', 18), ('Friday', 19), ('Saturday', 10), ('Saturday', 11), ('Saturday', 12), ('Saturday', 13), ('Saturday', 14), ('Saturday', 15), ('Saturday', 16), ('Saturday', 17), ('Saturday', 18), ('Saturday', 19), ('Sunday', 10), ('Sunday', 11), ('Sunday', 12), ('Sunday', 13), ('Sunday', 14), ('Sunday', 15), ('Sunday', 16), ('Sunday', 17), ('Sunday', 18), ('Sunday', 19)]

In [84]:
text = input("enter something")

In [85]:
print(text)

My name is Karina

In [86]:
number = input("enter a number")

In [89]:
print (number)
print (type(number) )
print (type( int( number) ) )

3
<class 'str'>
<class 'int'>